In [8]:
# System imports
import os
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import hvplot.pandas
import panel as pn
from pathlib import Path
from dotenv import load_dotenv
from panel.interact import interact
from panel import widgets
from string import digits
from numpy import array
import csv
import json
import numpy as np
import dateparser
import panel as pn
import matplotlib.ticker as tkr

plt.style.use('seaborn-white')


pn.extension()

%matplotlib inline

In [9]:
# Local imports
import sys
sys.path.append("../lib2")

from Constants import Constants
from ProcessingTools import DateProcessingTools

In [10]:
# Construct the tools
debug_level = 0
constants = Constants()
tool_data_processing = DateProcessingTools(debug_level)

In [11]:
# Import all preprocessed data
atlas           = pd.read_pickle(constants.PREPROCESSED_ATLAS_FILE_PATH)
forecast        = pd.read_pickle(constants.PREPROCESSED_FORECAST_DATA_FILE_PATH)
revenue2020     = pd.read_pickle(constants.PREPROCESSED_REVENUE2020_FILE_PATH)
revenue2020A    = pd.read_pickle(constants.PREPROCESSED_REVENUE2020A_FILE_PATH)

In [12]:
atlas = atlas.sort_values(by='Invoice Date')

In [16]:
atlas.reset_index(inplace=True)
atlas

,Customers,Number of Users,Invoice Date,Invoice #,Year,Month,Invoice Amount,Subscription,2021 Prediction,Customers Status,Account Code,Address,State,Lat,Long,Service Start,Service End,Subscription Duration
0,Louisiana Board of Regents,7050.0,2015-03-20 00:00:00-04:00,ATLAS 315,2015,March,72000.0,1 Year,NaN,Lost,4700-0-00-00000-18-0000,"1201 N 3rd St #6, Baton Rouge, LA 70802",LA,30.460190,-91.188530,2015-03-18 00:00:00-04:00,2016-06-30 00:00:00-04:00,365 days
1,Emporia State University,250.0,2015-05-28 00:00:00-04:00,AJ501,2015,May,3500.0,1 Year,NaN,Active,4700-0-00-00000-16-0000,"1 Kellogg Cir, Emporia, KS 66801",KS,38.392609,-96.181396,2015-06-01 00:00:00-04:00,2016-06-30 00:00:00-04:00,365 days
2,Morehead State University,100.0,2015-06-23 00:00:00-04:00,AJ502,2015,June,3500.0,1 Year,NaN,Active,4700-0-00-00000-17-0000,"150 University Blvd, Morehead, KY 40351",KY,38.184921,-83.434441,2015-06-10 00:00:00-04:00,2016-06-30 00:00:00-04:00,365 days
3,State University of NY Potsdam,500.0,2015-06-26 00:00:00-04:00,AJ503,2015,June,6500.0,1 Year,NaN,Lost,4700-0-00-00000-32-0000,"44 Pierrepont Ave, Potsdam, NY 13676",NY,44.663780,-74.978409,2015-06-01 00:00:00-04:00,2016-06-30 00:00:00-04:00,365 days
4,ST. Mary's College of Maryland,15.0,2015-10-07 00:00:00-04:00,AJ504,2015,October,750.0,1 Year,NaN,Lost,4700-0-00-00000-20-0000,"47645 College Dr, St Marys City, MD 20686",MD,38.190601,-76.426300,2015-10-05 00:00:00-04:00,2016-09-30 00:00:00-04:00,365 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Modesto Junior College,200.0,2020-12-08 00:00:00-05:00,NB120920,2020,December,1750.0,6 Months,"$1,750.00",New,4700-0-00-00000-00-0000,"435 College Ave, Modesto, CA 95350",CA,37.651310,-121.009726,2021-03-01 00:00:00-05:00,2021-08-31 00:00:00-04:00,180 days
696,University of North Carolina Wilmington,200.0,2020-12-08 00:00:00-05:00,NB12092B,2020,December,2000.0,1 Year,"$2,000.00",Active,4700-0-00-00000-00-0000,"601 S College Rd, Wilmington, NC 28403",NC,34.223991,-77.867764,2020-08-31 00:00:00-04:00,2021-08-31 00:00:00-04:00,365 days
697,Brock University,350.0,2020-12-08 00:00:00-05:00,NB120820,2020,December,2500.0,6 Months,"$2,500.00",New,4700-0-00-00000-00-0000,"1812 Sir Isaac Brock Way, St. Catharines, Onta...",Canada,43.118799,-79.238508,2020-12-09 00:00:00-05:00,2021-05-31 00:00:00-04:00,180 days
698,Holyoke Community College,50.0,2020-12-08 00:00:00-05:00,NB120920A,2020,December,1000.0,1 Year,$500.00,New,4700-0-00-00000-00-0000,"303 Homestead Avenue, Holyoke, MA 01040",MA,42.193910,-72.647450,2021-01-01 00:00:00-05:00,2021-12-31 00:00:00-05:00,365 days
699,"University of South Carolina, College of Educa...",300.0,2020-12-09 00:00:00-05:00,NB120920C,2020,December,4500.0,1 Year,NaN,New,4700-0-00-00000-00-0000,"820 Main Street, Wardlaw 221, Columbia, SC 29208",SC,33.996170,-81.031200,2021-01-01 00:00:00-05:00,2021-12-31 00:00:00-05:00,365 days

In [17]:
atlas.dtypes

Customers                                          object
Number of Users                                   float64
Invoice Date             datetime64[ns, America/New_York]
Invoice #                                          object
Year                                                int64
Month                                              object
Invoice Amount                                    float64
Subscription                                       object
2021 Prediction                                    object
Customers Status                                   object
Account Code                                       object
Address                                            object
State                                              object
Lat                                               float64
Long                                              float64
Service Start            datetime64[ns, America/New_York]
Service End              datetime64[ns, America/New_York]
Subscription Duration                     timedelta64[ns]
dtype: object

In [19]:
yearly_income = atlas.iloc[:, [0, 6, 4]]
yearly_income

                                             Customers  Invoice Amount  Year
0                           Louisiana Board of Regents         72000.0  2015
1                             Emporia State University          3500.0  2015
2                            Morehead State University          3500.0  2015
3                       State University of NY Potsdam          6500.0  2015
4                       ST. Mary's College of Maryland           750.0  2015
..                                                 ...             ...   ...
695                             Modesto Junior College          1750.0  2020
696            University of North Carolina Wilmington          2000.0  2020
697                                   Brock University          2500.0  2020
698                          Holyoke Community College          1000.0  2020
699  University of South Carolina, College of Educa...          4500.0  2020

[700 rows x 3 columns]

In [20]:
 grp_yearly_income = yearly_income.groupby('Year').sum()
 grp_yearly_income.hvplot(
     figsize=(20,15), 
     kind='bar', 
     subplots=True, 
     title=('Total Sales by Year from 2015 to 2020'), 
     ylabel='Yearly Income', 
     xlabel='Total Number of Years',
     height=600,
     grid=True,
     width=1200).opts(yformatter='$%.0f', fontsize={'title': 25, 'labels': 20, 'xticks': 18, 'yticks': 18})

:Bars   [Year]   (Invoice Amount)

In [21]:
grp_yearly_income.hvplot(kind='table')

:Table   [Invoice Amount]

In [24]:
monthly_income = atlas.iloc[:, [0, 5, 6, 2]]
monthly_income.sort_values(by='Invoice Date')
monthly_income

,Customers,Month,Invoice Amount,Invoice Date
0,Louisiana Board of Regents,March,72000.0,2015-03-20 00:00:00-04:00
1,Emporia State University,May,3500.0,2015-05-28 00:00:00-04:00
2,Morehead State University,June,3500.0,2015-06-23 00:00:00-04:00
3,State University of NY Potsdam,June,6500.0,2015-06-26 00:00:00-04:00
4,ST. Mary's College of Maryland,October,750.0,2015-10-07 00:00:00-04:00
...,...,...,...,...
695,Modesto Junior College,December,1750.0,2020-12-08 00:00:00-05:00
696,University of North Carolina Wilmington,December,2000.0,2020-12-08 00:00:00-05:00
697,Brock University,December,2500.0,2020-12-08 00:00:00-05:00
698,Holyoke Community College,December,1000.0,2020-12-08 00:00:00-05:00
699,"University of South Carolina, College of Educa...",December,4500.0,2020-12-09 00:00:00-05:00

In [25]:
month_names = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]
grp_monthly_income = monthly_income.groupby('Month').sum().reindex(month_names)
grp_monthly_income.hvplot(
    title='Total Sales by Month from 2015 to 2020', 
    ylabel='Monthly Income', 
    xlabel='Months', 
    figsize=(20,15), 
    kind='bar', 
    subplots=True, 
    height=800,
    grid=True,
    rot=45,
    width=1400).opts(yformatter='$%.0f', fontsize={'title': 25, 'labels': 20, 'xticks': 18, 'yticks': 18})

:Bars   [Month]   (Invoice Amount)

In [26]:
grp_monthly_income.hvplot(kind='table')

:Table   [Invoice Amount]

In [27]:
atlas.dtypes

Customers                                          object
Number of Users                                   float64
Invoice Date             datetime64[ns, America/New_York]
Invoice #                                          object
Year                                                int64
Month                                              object
Invoice Amount                                    float64
Subscription                                       object
2021 Prediction                                    object
Customers Status                                   object
Account Code                                       object
Address                                            object
State                                              object
Lat                                               float64
Long                                              float64
Service Start            datetime64[ns, America/New_York]
Service End              datetime64[ns, America/New_York]
Subscription Duration                     timedelta64[ns]
dtype: object

In [28]:
subscription_income = atlas.iloc[:, [0, 1, 6, 7, 2]]
subscription_income.sort_values(by='Invoice Date')

,Customers,Number of Users,Invoice Amount,Subscription,Invoice Date
0,Louisiana Board of Regents,7050.0,72000.0,1 Year,2015-03-20 00:00:00-04:00
1,Emporia State University,250.0,3500.0,1 Year,2015-05-28 00:00:00-04:00
2,Morehead State University,100.0,3500.0,1 Year,2015-06-23 00:00:00-04:00
3,State University of NY Potsdam,500.0,6500.0,1 Year,2015-06-26 00:00:00-04:00
4,ST. Mary's College of Maryland,15.0,750.0,1 Year,2015-10-07 00:00:00-04:00
...,...,...,...,...,...
697,Brock University,350.0,2500.0,6 Months,2020-12-08 00:00:00-05:00
698,Holyoke Community College,50.0,1000.0,1 Year,2020-12-08 00:00:00-05:00
695,Modesto Junior College,200.0,1750.0,6 Months,2020-12-08 00:00:00-05:00
696,University of North Carolina Wilmington,200.0,2000.0,1 Year,2020-12-08 00:00:00-05:00
699,"University of South Carolina, College of Educa...",300.0,4500.0,1 Year,2020-12-09 00:00:00-05:00

In [29]:
customer_status = atlas.iloc[:, [0, 1, 6, 7, 2, 9]]
customer_status.sort_values(by='Invoice Date')

,Customers,Number of Users,Invoice Amount,Subscription,Invoice Date,Customers Status
0,Louisiana Board of Regents,7050.0,72000.0,1 Year,2015-03-20 00:00:00-04:00,Lost
1,Emporia State University,250.0,3500.0,1 Year,2015-05-28 00:00:00-04:00,Active
2,Morehead State University,100.0,3500.0,1 Year,2015-06-23 00:00:00-04:00,Active
3,State University of NY Potsdam,500.0,6500.0,1 Year,2015-06-26 00:00:00-04:00,Lost
4,ST. Mary's College of Maryland,15.0,750.0,1 Year,2015-10-07 00:00:00-04:00,Lost
...,...,...,...,...,...,...
697,Brock University,350.0,2500.0,6 Months,2020-12-08 00:00:00-05:00,New
698,Holyoke Community College,50.0,1000.0,1 Year,2020-12-08 00:00:00-05:00,New
695,Modesto Junior College,200.0,1750.0,6 Months,2020-12-08 00:00:00-05:00,New
696,University of North Carolina Wilmington,200.0,2000.0,1 Year,2020-12-08 00:00:00-05:00,Active
699,"University of South Carolina, College of Educa...",300.0,4500.0,1 Year,2020-12-09 00:00:00-05:00,New

In [30]:
subscription_income = atlas.iloc[:, [0, 6, 7, 2]]
subscription_income.sort_values(by='Invoice Date')

,Customers,Invoice Amount,Subscription,Invoice Date
0,Louisiana Board of Regents,72000.0,1 Year,2015-03-20 00:00:00-04:00
1,Emporia State University,3500.0,1 Year,2015-05-28 00:00:00-04:00
2,Morehead State University,3500.0,1 Year,2015-06-23 00:00:00-04:00
3,State University of NY Potsdam,6500.0,1 Year,2015-06-26 00:00:00-04:00
4,ST. Mary's College of Maryland,750.0,1 Year,2015-10-07 00:00:00-04:00
...,...,...,...,...
697,Brock University,2500.0,6 Months,2020-12-08 00:00:00-05:00
698,Holyoke Community College,1000.0,1 Year,2020-12-08 00:00:00-05:00
695,Modesto Junior College,1750.0,6 Months,2020-12-08 00:00:00-05:00
696,University of North Carolina Wilmington,2000.0,1 Year,2020-12-08 00:00:00-05:00
699,"University of South Carolina, College of Educa...",4500.0,1 Year,2020-12-09 00:00:00-05:00

In [31]:
yearly_income = atlas.iloc[:, [0, 6, 4, 5]]
yearly_income

,Customers,Invoice Amount,Year,Month
0,Louisiana Board of Regents,72000.0,2015,March
1,Emporia State University,3500.0,2015,May
2,Morehead State University,3500.0,2015,June
3,State University of NY Potsdam,6500.0,2015,June
4,ST. Mary's College of Maryland,750.0,2015,October
...,...,...,...,...
695,Modesto Junior College,1750.0,2020,December
696,University of North Carolina Wilmington,2000.0,2020,December
697,Brock University,2500.0,2020,December
698,Holyoke Community College,1000.0,2020,December
699,"University of South Carolina, College of Educa...",4500.0,2020,December

In [32]:
new_customers = atlas.iloc[:, [0, 2, 6, 9]]
new_customers

,Customers,Invoice Date,Invoice Amount,Customers Status
0,Louisiana Board of Regents,2015-03-20 00:00:00-04:00,72000.0,Lost
1,Emporia State University,2015-05-28 00:00:00-04:00,3500.0,Active
2,Morehead State University,2015-06-23 00:00:00-04:00,3500.0,Active
3,State University of NY Potsdam,2015-06-26 00:00:00-04:00,6500.0,Lost
4,ST. Mary's College of Maryland,2015-10-07 00:00:00-04:00,750.0,Lost
...,...,...,...,...
695,Modesto Junior College,2020-12-08 00:00:00-05:00,1750.0,New
696,University of North Carolina Wilmington,2020-12-08 00:00:00-05:00,2000.0,Active
697,Brock University,2020-12-08 00:00:00-05:00,2500.0,New
698,Holyoke Community College,2020-12-08 00:00:00-05:00,1000.0,New
699,"University of South Carolina, College of Educa...",2020-12-09 00:00:00-05:00,4500.0,New

In [33]:
Group_Customers = new_customers.groupby(['Customers']).sum()
TOP_10_Highest = Group_Customers.sort_values(by="Invoice Amount", ascending=False).head(10)
TOP_10_Highest = TOP_10_Highest.reset_index()

In [34]:
# Plotting the data from the top 10 Highest Customers
TOP_10_Highest.hvplot.bar(
    x="Customers", 
    y="Invoice Amount", 
    xlabel = "Highest Paying Customers",
    ylabel = "Total Sales",
    title="Top 10 Highest Paying Customers of All Time", 
    figsize=(20,15), 
    subplots=True, 
    height=800,
    grid=True,
    rot=45,
    width=1400).opts(yformatter='$%.0f', fontsize={'title': 25, 'labels': 20, 'xticks': 18, 'yticks': 18})

:Bars   [Customers]   (Invoice Amount)

In [35]:
TOP_10_Highest.hvplot.table()

:Table   [Customers,Invoice Amount]

In [36]:
Group_Customers_2 = new_customers.groupby(['Customers']).sum()
TOP_10_Lowest = Group_Customers_2.sort_values(by="Invoice Amount", ascending=True).head(10)
TOP_10_Lowest = TOP_10_Lowest.reset_index()

In [37]:
# Plotting the data from the top 10 Lowest Customers
TOP_10_Lowest.hvplot.bar(
    x="Customers", 
    y="Invoice Amount", 
    xlabel = "Lowest Paying Customers",
    ylabel = "Total Sales",
    title="Top 10 Lowest Paying Customers of All Time", 
    figsize=(20,15), 
    subplots=True, 
    height=800,
    grid=True,
    rot=45,
    width=1400).opts(yformatter='$%.0f', fontsize={'title': 25, 'labels': 20, 'xticks': 18, 'yticks': 18})

:Bars   [Customers]   (Invoice Amount)

In [38]:
TOP_10_Lowest.hvplot.table()

:Table   [Customers,Invoice Amount]

In [39]:
new_customers = atlas.iloc[:, [0, 2, 6, 9]]
new_customers

,Customers,Invoice Date,Invoice Amount,Customers Status
0,Louisiana Board of Regents,2015-03-20 00:00:00-04:00,72000.0,Lost
1,Emporia State University,2015-05-28 00:00:00-04:00,3500.0,Active
2,Morehead State University,2015-06-23 00:00:00-04:00,3500.0,Active
3,State University of NY Potsdam,2015-06-26 00:00:00-04:00,6500.0,Lost
4,ST. Mary's College of Maryland,2015-10-07 00:00:00-04:00,750.0,Lost
...,...,...,...,...
695,Modesto Junior College,2020-12-08 00:00:00-05:00,1750.0,New
696,University of North Carolina Wilmington,2020-12-08 00:00:00-05:00,2000.0,Active
697,Brock University,2020-12-08 00:00:00-05:00,2500.0,New
698,Holyoke Community College,2020-12-08 00:00:00-05:00,1000.0,New
699,"University of South Carolina, College of Educa...",2020-12-09 00:00:00-05:00,4500.0,New

In [40]:
Group_Customers_Status = new_customers.groupby(['Customers Status', 'Customers']).count()
Group_Customers_Status = Group_Customers_Status.reset_index()
Group_Customers_Status

,Customers Status,Customers,Invoice Date,Invoice Amount
0,Active,Alabama A&M University-College of Education,1,1
1,Active,Albertus Magnus College,1,1
2,Active,American College of Education,1,1
3,Active,Augusta University,7,7
4,Active,Austin Peay State University,4,4
...,...,...,...,...
387,New,William Baptist University,1,1
388,New,William Paterson University,1,1
389,New,Wingate University,1,1
390,New,Winston-Salem State University,1,1
391,New,Yakima Valley College,1,1

In [41]:
New_Customers_2020 = Group_Customers_Status.loc[:, 'New']
New_Customers_2020

KeyError: 'New'

In [ ]:
New_Customers.hvplot()

In [ ]:
total_customers.sort_values(by='Invoice Amount', ascending=False)
total_customers.tail()

In [ ]:
total_customers.plot()

In [ ]:
start_to_2019 = past_years.loc[[2015, 2016, 2017, 2018, 2019]]
start_to_2019

In [ ]:
grp_past_years = start_to_2019.groupby('Year').sum()
grp_past_years.hvplot(figsize=(20,15), rot=90, kind='bar', subplots=True).opts(yformatter='%d', title='Average of Sales from 2015 to 2019', ylabel='Income Each Year', xlabel='Total Number of Years', height=600, width=1200)

In [ ]:
monthly_income_15_19 = atlas.iloc[:, [0, 6, 4, 5]]
monthly_income_15_19

In [ ]:
past_years_months = monthly_income_15_19.groupby(['Year', 'Month']).sum()
past_years_months

In [ ]:
months_start_to_2019 = past_years_months.loc[[2015, 2016, 2017, 2018, 2019]]
months_start_to_2019

In [ ]:
month_names = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]
grp_past_months_start_to_2019 = months_start_to_2019.groupby('Month').mean().reindex(month_names)
grp_past_months_start_to_2019_plt = grp_past_months_start_to_2019.hvplot(figsize=(20,15), kind='area', subplots=True).opts(yformatter='%d', title='Average Monthly Sales from 2015 to 2019 VS. Year 2020', ylabel='Income Each Month', xlabel='Months', height=600, width=1200)
grp_past_months_start_to_2019_plt

In [ ]:
months_2020 = past_years_months.loc[[2020]]
months_2020

In [ ]:
month_names = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]
grp_past_months_2020 = months_2020.groupby('Month').mean().reindex(month_names)
grp_past_months_2020_plt = grp_past_months_2020.hvplot(figsize=(20,15), kind='area', subplots=True).opts(yformatter='%d', title='Average Monthly Sales from 2015 to 2019 VS. Year 2020', ylabel='Income Each Month', xlabel='Months', height=600, width=1200)
grp_past_months_2020_plt

In [ ]:
compare_15_19_t0_20 = grp_past_months_2020_plt * grp_past_months_start_to_2019_plt
compare_15_19_t0_20

In [ ]:
atlas.dtypes

In [ ]:
customer_status = atlas.iloc[:, [0, 1, 4, 6, 9]]
customer_status

In [ ]:
past_years_months = monthly_income_15_19.groupby(['Year', 'Month']).sum()
past_years_months

In [ ]:
months_2020 = past_years_months.loc[[2020]]
months_2020

In [ ]:
month_names = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]
grp_past_months_2020 = months_2020.groupby('Month').mean().reindex(month_names)
grp_past_months_2020_plt = grp_past_months_2020.hvplot(figsize=(20,15), rot=90, kind='bar', subplots=True).opts(yformatter='%d', title='Average Monthly Sales in 2020', ylabel='Income Each Month', xlabel='Months', height=600, width=1200)
grp_past_months_2020_plt

In [ ]:
daily_income = atlas.iloc[:, [2, 6]]
daily_income

In [ ]:
daily_income.describe()

In [ ]:
atlas.dtypes

In [ ]:
daily_income = atlas.iloc[:, [0, 6, 9, 4]]
daily_income

In [ ]:
multi_group = daily_income.groupby(['Customers','Customers Status'])['Customers Status'].count()
multi_group

In [ ]:
new_customers = multi_group.loc[['New']].count()
new_customers

In [ ]:
multi_group.hvplot()

In [ ]:
# Calculate the mean values for each neighborhood
#rankings_pd.rename(columns = {'test':'TEST', 'odi':'ODI', 
#                              't20':'T20'}, inplace = True) 

#atlas2.columns = ["Customers", "Lat", "Long"]

total_data = atlas.loc[:, ["Number of Users", "Invoice Amount"]].groupby(["Customers"]).sum()
# total_data.dropna(inplace=True)
total_data

atlas_with_totals = pd.concat([atlas.drop(columns=["Number of Users", "Invoice Amount"]), total_data], axis="columns", join="inner")
atlas_with_totals.head(5)

In [ ]:
atlas_with_totals.dtypes

In [ ]:
atlas_with_totals.count()

In [ ]:
atlas_with_totals.set_index(pd.to_datetime(atlas_with_totals['Invoice Date'], infer_datetime_format=True), inplace=True)
atlas_with_totals["Invoice Amount"].plot(kind='bar', figsize=(20,10))

In [ ]:
atlas_with_totals.describe()

In [ ]:
atlas_with_totals.iloc[0]

In [ ]:
data = atlas_with_totals.iloc[:, [0,2,5,11,12]]
data.head()

In [ ]:
data.drop(columns=['Invoice Date', 'Subscription', 'Number of Users'], inplace=True)
data

In [ ]:
data.sort_values("Invoice Amount", ascending=False)
data.plot()

In [ ]:
data.groupby(by='State').sum()
data

In [ ]:
data = data.sort_values(by='Invoice Date', ascending=False)

In [ ]:
data.plot(figsize=(20,15))

In [ ]:
data.tail()

In [ ]:
data.drop(columns=['State'], inplace=True)
data

In [ ]:
daily_returns = (data - data.shift(1)) / data.shift(1)
daily_returns.head()

In [ ]:
daily_returns = data.pct_change()
daily_returns.head()

In [ ]:
daily_returns.plot(figsize=(10,5))

In [ ]:
# Calculate the cumulative returns using the 'cumprod()' function
cumulative_returns = (1 + daily_returns).cumprod()
cumulative_returns.head()

In [ ]:
# Plot the daily returns of the S&P 500 over the last 5 years
cumulative_returns.plot(figsize=(10,5))